<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>

	<form action="/save" id="f1" method="get" >
		<div><b>Client Id:</b><input name="clientId" id="clientId" /></div>
		<div><b>Client Secret:</b><input name="clientPwd" id="clientPwd" /></div>
		<div><b>Redirect Uri:</b><input name="uri" id="uri" /></div>
		<input type="button" value="Submit" onclick="save();" />
	</form>	
	
	<script type="text/javascript">
		function save(){
			var clientId = document.getElementById("clientId").value;
			var clientPwd = document.getElementById("clientPwd").value;
			var uri = document.getElementById("uri").value;
			
			document.getElementById("f1").submit();
		}
	
	</script>
</body>
</html>
