<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
<div id="msg"></div>
<script lang="javascript" type="text/javascript">
	var clientId = "[[${app.getAppId()}]]";
	var clientPwd = "[[${app.getAppPwd()}]]";
	var uri = "[[${app.getRedirectUri()}]]";
	
	var accessToken = "[[${accessToken}]]";
	var refreshToken = "[[${refreshToken}]]";
	
	if( !!accessToken && !!refreshToken ){
		document.getElementById('msg').innerHTML+='<b>AccessToken:</b><div><textarea rows="12" cols="160" >'+accessToken+'</textarea></div>';
		document.getElementById('msg').innerHTML+='<b>RefreshToken:</b><div><textarea rows="8" cols="160" >'+refreshToken+'</textarea></div>';
		document.getElementById('msg').innerHTML+='<form action="/getNewToken" id="f1"><input type="hidden" name="refreshToken" value='+refreshToken+' /><input type="button" value="Trail Run Some APIs" onclick="getNewToken();" /></form>';
		//document.getElementById('msg').innerHTML+='<form action="/search" id="f2"><input type="hidden" name="accessToken" value='+accessToken+' /><input name="keyword" /><input type="button" value="Search" onclick="search();" /></form>';
	}
	else {
		document.getElementById('msg').innerHTML='<b>Pls wait...</b>';
		window.location.href = "https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id="+clientId+"&response_type=code&scope=Files.ReadWrite.All%20offline_access&redirect_uri="+uri;
	}
	
	function getNewToken(){
		document.getElementById("f1").submit();
	}
	
	
</script>

</body>
</html>
